$primaryColor: #b1bcbd;
$mainColor: #006a9b;
$primaryColorLighterLv1: #e7eeff;
$primaryColorLighterLv2: #e7eeff;
$primaryWhite: #ffffff;
$primaryText: #006a9b;
$primaryBlack: #223140;
$primaryLabel: #606060;
$disableText: #a6a6a6;

$secondaryColor: #000;
$variantsColor: #995effd5;
$dangerColor: #ce4b4b;

// Snackbar
$snackbarSuccess: #995effd5;

// Text
$sidebarText: #232323;
$GPEblueText: #006a9b;
$GPEstronggreen: #57ce8c;
$GPEMainText: #006a9b;
$GPEdarkText: #404040;
$GPEgrayText: #565656;
$GPEstatusText: #69b948;
$GPEdetailData: #444444;
$GPEinputText: #2e2e2e;
$GPEaddLink: #1397e3;
$GPEcancel: #e4a237;
$GPEblackmain: #223140;

$textColorBlur: #8194a5;
$textColorGray: #808890;

//Border
$borderColor: #dee5eb;
$borderColorTable: #8194a5;
$txtPrimary: #8194a5;
$txtPrimaryBlack: #223140;
$CategoryCartText: #8194a5;
$borderTaskBlock: #f2f4f6;

// Background
$backgroundMain: #006a9b;
$backgroundCategory: #f2f4f6;
$backgroundstronggreen: #dcf4ff;
$backgroundlightgreen: #dcffea;
$backgroundlightdanger: #fce1e1;
$backgroundcancel: #f6f0c4;
$backgroundcolorblue: #56ace0;
$backgroundnoapprove: #c05450;
$backgroundapproved: #78cb91;
$backgroundwhite: #ffffff;
