@import "./variables";
@import "./button";
@import "./display";
@import "./flex";
@import "./spacing";
@import "./text";
@import "./mixin";
//  LAYOUT
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");
body {
  .ag-watermark.ag-opacity-zero {
    display: none !important;
  }
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }
  }
  *:not(i):not(.ag-icon):not(.ag-checkbox-input-wrapper.ag-checked::after):not(.ag-checkbox-input-wrapper.ag-checked::before) {
    font-family: "Roboto", sans-serif !important;
    // font-size: 16px;
    //   color: $primaryBlack;
  }
  pre {
    font-family: "Roboto", "san-serif" !important;
    &.detail-row__info {
      white-space: break-spaces;
    }
  }
  .tooltip-solid {
    .menuable__content__active {
      opacity: 1 !important;
    }
  }
}
.external-link__mod {
  color: #0a71bc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // font-size: 14px;
}
.textarea-pretag {
  font-family: "Roboto", "san-serif" !important;
  padding: 0 !important;
  border: none !important;
  resize: both;
  display: block;
  width: 100%;
  overflow: hidden;
  height: fit-content !important;
}
pre {
  font-family: "Roboto", "san-serif" !important;
}
.img-cover {
  object-fit: cover;
  object-position: center;
}
.container-t {
  width: calc(100vw - 200px);
  margin: auto;
}
.container-fluid-t {
  width: 100%;
}
.d-flex-mod {
  display: flex !important;
}
.each-comment {
  pre {
    word-break: break-word;
  }
}
.font-weight-regular {
  font-weight: 500 !important;
}
body {
  .v-application {
    .font-weight-regular {
      font-weight: 500 !important;
    }
  }
}
.w-fit {
  width: fit-content !important;
}
.img-fit-cover {
  object-fit: cover !important;
}
// ******--------
//INPUT
input,
textarea {
  outline: none;
}
.filter-group--mod {
  padding: 0 10px;
  border: 1px solid $borderColor;
  border-radius: 6px;
  height: 36px;
  border: solid 1px $borderColor;
  min-width: 350px;
  img {
    height: 16px;
  }
  input {
    padding: 0 10px;
    outline: none;
    font-size: 12px;
    &::placeholder {
      font-size: 11px;
      color: $textColorBlur !important;
    }
  }
}
// HELPERS
// TEXT
.text-limit-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.text-limit-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-limit-w {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-primary-m {
  color: $txtPrimary !important;
}
.text-primary-black-m {
  color: $txtPrimaryBlack !important;
}
.text-darkgrey {
  color: $sidebarText !important;
}
.text-blur {
  color: $textColorBlur !important;
}
.text-gray {
  color: $textColorGray !important;
}
.pointer {
  cursor: pointer !important;
}
.no-ripple {
  .v-ripple__container {
    display: none !important;
  }
}
// BACKGROUND
.bg-transparent {
  background-color: transparent !important;
}
.bg-main {
  background-color: $backgroundMain !important;
}
.box-shadow-unset {
  box-shadow: unset !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-disable {
  background-color: $borderColor !important;
}
.header-sticky-table {
  .v-data-table__wrapper {
    height: 100%;
    overflow-y: scroll;
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 3;
  }
}
.header-no-border-table {
  th {
    border-bottom: none !important;
  }
}
.table-scroll-y {
  .v-data-table__wrapper {
    &::-webkit-scrollbar {
      width: 5px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.48);
    }
  }
}
.grow-unset {
  flex-grow: unset !important;
}

.snackbar-on-success {
  .v-snack__wrapper {
    background-color: $snackbarSuccess !important;
    .snackbar-btn-close {
      color: #fff !important;
    }
  }
}
.table-on-loading {
  .v-data-table__wrapper {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(170, 168, 166, 0.289);
      z-index: 2;
    }
  }
}
// ******--------
// TABLE
.header-sticky-table {
  thead {
    background-color: #fff !important;
  }
}
.w-max-content {
  display: inline-block;
  width: max-content;
}
.v-data-table.table-modify-css {
  box-shadow: unset;
  border: unset;
  table {
    thead {
      tr {
        th {
          background-color: unset;
          border-bottom: 1px solid $borderColorTable !important;
          &:not(:last-child) {
            border-right: 1px solid #ffffff;
          }
          span {
            color: #223140;
            font-size: 14px;
            font-weight: 700;
            display: inline-block;
            width: max-content;
          }
        }
      }
    }
    tbody {
      tr {
        &.filter-prepend-body {
          background-color: #ffffff;
          height: 72px;
          .v-input__slot,
          .date-range-slot-wrapper-tb {
            border-color: #5484fa !important;
            font-size: 14px !important;
            color: #223140 !important;
            height: 40px;
            font-weight: 400;
            label {
              font-size: 14px !important;
              color: #223140;
              font-weight: 400;
            }
          }
        }
        font-size: 14px !important;
        color: #223140 !important;
        height: 40px;
        font-weight: 400;
        td {
          border-bottom: 1px solid #d5d5d5 !important;
          white-space: nowrap;
        }
      }
    }
  }
}
// BUTTON
.buton-primary {
  background-color: #4880ff !important;
  border: 2px solid #4880ff !important;
  box-shadow: unset !important;
  span {
    color: #ffffff !important;
  }
}
.buton-secondary {
  background-color: #ffffff !important;
  border: 1px solid #4880ff !important;
  box-shadow: unset !important;
  span {
    color: #4880ff !important;
    font-weight: 700;
  }
}
.buton-primary-header {
  height: 40px !important;
  border-radius: 8px !important;
  font-size: 14px;
  background-color: #2f6bff !important;
  border: 1px solid #2f6bff !important;
  box-shadow: unset !important;
  span {
    color: #ffffff !important;
  }
}
.buton-secondary-header {
  height: 40px !important;
  border-radius: 8px !important;
  font-size: 14px;
  background-color: #ffffff !important;
  border: 1px solid #2f6bff !important;
  box-shadow: unset !important;
  span {
    color: #2f6bff !important;
  }
}
.text-transform-unset {
  text-transform: unset !important;
}
.display-flex {
  display: flex;
}
.display-inline-block {
  display: inline-block;
}
.justify-center {
  justify-content: center !important;
}
.justify-flex-end {
  justify-content: flex-end !important;
}
.align-center {
  align-items: center !important;
}
.align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.cke_notifications_area {
  display: none !important;
}
// GRID
.text-delay {
  color: #ce4b4b !important;
}
.pre-tag--mod {
  font-family: "Roboto";
}
// SCROLL BAR
/* width */
.dialog-scroll-y {
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
.cke_single_page .cke_dialog_tabs {
  display: block !important;
  margin-top: 0 !important;
  .cke_dialog_tab {
    display: inline-block !important;
  }
}
.scrollbar-y {
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
.v-text-field-font-size-14 {
  input {
    font-size: 14px !important;
  }
}
.v-text-field-border-none {
  .v-input__slot {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}
.input-disabled {
  &:disabled {
    background-color: rgb(250, 250, 250) !important;

    color: #2e2e2e !important;
  }
  &::placeholder {
    color: $GPEinputText;
  }
}
.outline-unset {
  outline: unset !important;
}
.input-require {
  border-color: $dangerColor !important;
}
.text-no-wrap {
  white-space: nowrap;
}

.cke_show_borders.table.cke_show_border {
  border: 1px solid #695656 !important;
}
.v-autocomplete__content {
  .v-list-item__title {
    display: block !important;
  }
}
.h-100 {
  height: 100% !important;
}
.required-p-tag {
  color: rgb(214, 20, 20);
}
[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "Loading…";
}
.cke_combo_text.cke_combo_inlinelabel {
  width: 100px;
}
.cke_contents {
  height: 320px !important;
}
.table-on-max-height {
  .v-data-table__wrapper {
    height: calc(100vh - 215px) !important;
  }
}
.bread-crumb {
  margin-bottom: 12px;
  &.has-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bc-page__title {
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }
}
.pagination {
  padding: 0px 22px;
}
.filter-block {
  display: flex;
  input.input-filter {
    border: 1px solid #cfd4d8 !important;
    border-radius: 4px !important;
    width: 400px;
    padding: 0 20px;
    height: 38px;
    box-sizing: content-box;
  }
}
.no-data-text {
  margin-top: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 68px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
}
.row + .row.mt-0 {
  margin-top: 0 !important;
}
// VUETIFY
.v-autocomplete__nodetails {
  .v-text-field__details {
    display: none !important;
  }
}
.v-autocomplete {
  &__noshadow {
    .v-input__slot {
      box-shadow: none !important;
    }
  }
  &__borderform {
    .v-input__slot {
      border: 1px solid #cfd4d8;
    }
  }
  &__modappend {
    .v-input__slot {
      padding-right: 0 !important;
    }
  }
  &__formheight {
    .v-input__slot {
      min-height: unset !important;
      height: 32px !important;
      input {
        max-height: unset !important;
      }
    }
    .v-input__append-inner {
      height: 30px !important;
    }
  }
}
.vuetify-no-msg {
  .v-messages {
    display: none !important;
  }
}
.vuetify-table__mod-header {
  .v-data-table-header {
    border: 1px solid #cfd4d8;
    background-color: #f8f8fa;
    th {
      text-align: left;
      letter-spacing: 0px;
      color: #000000 !important;
      font-size: 16px !important;
      font-weight: bold;
    }
  }
}
.vuetify-table__mod-border {
  border: 1px solid #cfd4d8;
}
.v-auto-append-icon {
  border-left: 1px solid #cfd4d8;
  background-color: #f8f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-input--is-disabled {
  .v-input__control {
    .v-input__slot {
      background-color: #f0f0f0c6 !important;
    }
  }
}
//
img.hard-white-icon {
  filter: brightness(1) invert(1);
}
.date-open-top {
  .daterangepicker {
    top: unset !important;
    bottom: 100% !important;
  }
}
input.row-info__content {
  border: 1px solid #cfd4d8;
  border-radius: 4px;
  padding: 6px 12px;
  height: 32px;
  /* width: 100%; */
}
.date-picker__form {
  height: 36px !important;
}
textarea.row-info__content {
  border: 1px solid #cfd4d8;
  border-radius: 4px;
  padding: 6px 12px;
}
.date-picker-single-mod {
  height: 100% !important;
}
.vti__dropdown-list {
  width: 350px !important;
  padding-left: 4px !important;
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
    }
  }
}
.today:not(.active) {
  color: #2f6bff !important;
}
.vue-tel-input {
  border-color: #cfd4d8 !important;
}
/* CK4 */
.ck.ck-editor {
  .ck.ck-toolbar {
    border: unset !important;
    border-bottom: 1px solid rgba(214, 216, 216, 0.385);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 6px;
  overflow: hidden;
  .ck.ck-editor__main {
    background: rgba(214, 216, 216, 0.385);
    padding: 30px 40px;
    height: calc(100vh - 420px);
    overflow-y: scroll;
    .ck.ck-focused {
      border: unset !important;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .ck.ck-content {
      min-height: 800px;
      border: unset !important;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      p {
        margin-bottom: 2px !important;
      }
    }
  }
}
.remove-icon-disabled {
  opacity: 0 !important;
  filter: grayscale(1);
  pointer-events: none !important;
  cursor: not-allowed;
}
.ck--editor__readonly {
  .cke_top {
    pointer-events: none !important;
  }
  iframe {
    pointer-events: none !important;
  }
}

figure {
  &.easy-img-50 {
    max-width: 50%;
  }
}
.general-phone-info-icon {
  height: 20px;
  margin-right: 4px;
}
.v-input--dense > .v-input__control > .v-input__slot {
  margin-bottom: 0px !important;
}
// REPONSIVE
@import "./agOverwrite";
// ******--------
